{% extends "base.html" %}
{% block content %}

<h1>Регистрация нового польлзователя</h1>
<form method="post">
    {% csrf_token %}

    <div class="">
    {{ form.full_name.label }}
    </div>
     {{ form.full_name }}
    <div class="">
    {{ form.birth_date.label }}
    {{ form.birth_date }}
         </div>
    <div class="">
    {{ form.username.label }}
    {{ form.username }}
    </div>
    <div class="">
    {{ form.password1.label }}
    {{ form.password1 }}
    {{ form.password2.label }}
    {{ form.password2 }}
    </div>

    <button type="submit"> Зарегистрироваться </button>
</form>
{% endblock content %}