<footer class="mb-2 py-3 border-top border-dark">
    <div class="container">

        <div class="row">
            <ul class="nav w-75 fs-12 d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-dark">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">Privacy</a>
                </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark">Comtact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark">Twitter</a>
            </li>
            </ul>
            <div class="col-12 d-flex justify-content-end">
            <p class="h-75" >Copyright © 2020 Readng BV.</p> 
        </div>
        </div>
    </div>
</header>