<header>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Главная </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'article_list' %} > Статьи </a>
  </li>

  <li class="nav-item">
    <a class="nav-link ">Книги</a>
  </li>
</ul>
<div class="container">
  <div class="row">
   <div class="col-2">
       <img class="w-100" src=" https://leader-id.storage.yandexcloud.net/event_photo/244710/618a3eaea05d4341146829.png">
   </div>

  </div>
</div>

</header>